.alta {
  padding: 50px;
  background-color: white;
  position: relative;
  display: block;
  height: auto;
  width: 100%;

  h3 {
    color: #2F4858;
    margin-bottom: 30px;
  }

  .alta-wrapper {
    background-color: #eceef2;
    position: relative;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
    height: 100%;
    width: 100%;
  }
}

iframe {
  width: 100%;
  min-height: 500px;
}

.modal {
  h6 {
    width: 100%;
    background-color: #369;
    border-radius: 10px;
    color: white;
    padding: 2px 0;
  }
}